/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

header {height: 150px;}


.main {display: flex;
height: 50vh;
justify-content: space-between;}

.vlevo {display: flex;
}

aside,nav{width: 200px;}
footer{ height: 150px;}
